.header-info{
    margin-bottom: 50px;
}

.botonCard{
    background-color: rgb(44,44,44);
}

.botonCard:hover{
    background-color: gray;
}

.brand-logo, .container-subtitle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px;
    height: auto;
}

.contenedorPrincipal{
    width: 50%; 
    margin: auto;
    border-style: outset; 
    padding: 50px;
}

.form-container{
    border-radius: 10px;
    width: 100%;
}

.formulario{
    padding: 3% 5%;
    margin: 5% 0%;
}

.botonFormulario{
    flex-shrink: 3;
    background-color: rgb(205,205,205);
}

.botonFormulario:hover{
    background-color: rgb(88, 87, 87);
}

.botonFormulario:active{
    background-color: rgb(205,205,205);
}